/* FONTES */
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: "Roboto Mono Bold";
  src: url("../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda/Merienda-Regular.ttf");
}
@font-face {
  font-family: "Merienda Bold";
  src: url("../fonts/Merienda/Merienda-Bold.ttf");
}

.nav {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(220, 53, 69);
}
.nav-mobile {
  visibility: hidden;
}
#navs {
  background-color: #cc092f;
}
/* RESPONSIVIDADE MOBILE */
@media screen and (max-width: 576px) {
  .nav {
    display: none !important;
  }
  .nav-mobile {
    height: 50px;
    visibility: visible;
    background-color: rgb(220, 53, 69);
  }
  .menu-mobile {
    width: 300px;
    /* display: flex;
   flex-direction: row-reverse; */
  }
  .nav-item-mobile {
    background-color: #cc092f;
    color: white !important;
  }
  .nav-item-mobile:hover {
    background-color: white;
    color: #cc092f !important;
  }
  .texto {
    margin-bottom: 20px;
    font-size: 15px !important;
  }
}
/* CONTEUDO */
#conteudo {
  padding-top: 30px;
}
.img-fundo {
  background-image: url("../img/FUNDO-SITE-FULL.jpg")!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  height: 98vh!important;
}
.caixa-titulo {
  transition: all 2s;
  background-color: white;
  padding: 15px;
  border-radius: 30px;
}
.titulo {
  color: #cc092f;
  font-family: "Roboto Mono Bold";
  font-size: 75px;
}
.nav-link {
  transition: all 0.5s;
  font-family: "Roboto Mono";
  color: white;
}
.nav-link:hover {
  transition: all 0.5s;
  background-color: white;
  color: rgb(220, 53, 69);
  border-radius: 20px;
}
.nav-link:focus {
  transition: all 0.5s;
  background-color: white;
  color: rgb(220, 53, 69);
  border-radius: 20px;
}
.subtitulo {
  font-family: "Merienda Bold";
  font-size: 37.5px;
}
.texto {
  font-family: "Roboto Mono";
  font-size: 18px;
  text-align: justify;
}
.fundo-transmissao {
  background-color: #cc092f;
}
.link-sintoma {
  text-decoration: none;
  color: black;
}
.link-sintoma:hover {
  text-decoration: none;
  color: #cc092f;
}
.titulo-colorido {
  color: #cc092f !important;
}
/* Footer */
.footer {
  background-color: #cc092f;
  height: 20vh;
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto Mono";
}
.links-footer {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
.links-footer:hover {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
